---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - containers
  - customcertificates
  - managedvirtualmachines
  - storagedownloadurls
  - virtualmachines
  - virtualmachinesets
  - virtualmachinesnapshotpolicies
  - virtualmachinesnapshots
  - virtualmachinetemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - containers/finalizers
  - customcertificates/finalizers
  - managedvirtualmachines/finalizers
  - storagedownloadurls/finalizers
  - virtualmachines/finalizers
  - virtualmachinesets/finalizers
  - virtualmachinesnapshotpolicies/finalizers
  - virtualmachinesnapshots/finalizers
  - virtualmachinetemplates/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - containers/status
  - customcertificates/status
  - managedvirtualmachines/status
  - storagedownloadurls/status
  - virtualmachines/status
  - virtualmachinesets/status
  - virtualmachinesnapshotpolicies/status
  - virtualmachinesnapshots/status
  - virtualmachinetemplates/status
  verbs:
  - get
  - patch
  - update
