---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - containers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - containers/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - containers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - managedvirtualmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - managedvirtualmachines/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - managedvirtualmachines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - storagedownloadurls
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - storagedownloadurls/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - storagedownloadurls/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachines/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesets/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesnapshotpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesnapshotpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesnapshotpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesnapshots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesnapshots/finalizers
  verbs:
  - update
- apiGroups:
  - proxmox.alperen.cloud
  resources:
  - virtualmachinesnapshots/status
  verbs:
  - get
  - patch
  - update
