apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: virtualmachinesets.proxmox.alperen.cloud
spec:
  group: proxmox.alperen.cloud
  names:
    kind: VirtualMachineSet
    listKind: VirtualMachineSetList
    plural: virtualmachinesets
    shortNames:
    - vmset
    singular: virtualmachineset
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: The number of VMs
      jsonPath: .spec.replicas
      name: Replicas
      type: integer
    - description: The name of the target node of Proxmox
      jsonPath: .spec.nodeName
      name: Node
      type: string
    - description: The number of CPU cores
      jsonPath: .spec.template.cores
      name: Cores
      type: string
    - description: The amount of memory in MB
      jsonPath: .spec.template.memory
      name: Memory
      type: string
    - description: The status of the VM
      jsonPath: .status.conditions[0].type
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VirtualMachineSet is the Schema for the virtualmachinesets API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VirtualMachineSetSpec defines the desired state of VirtualMachineSet
            properties:
              deletionProtection:
                default: false
                description: |-
                  DeletionProtection is a flag that indicates whether the VM should be protected from deletion.
                  If true, the VM will not be deleted when the Kubernetes resource is deleted.
                  If not set, it defaults to false.
                type: boolean
              enableAutoStart:
                default: true
                description: |-
                  EnableAutoStart is a flag that indicates whether the VM should automatically start when it's powered off.
                  If true, the VM will start automatically when it's powered off.
                  If not set, it defaults to true.
                type: boolean
              nodeName:
                description: NodeName is the name of the target node of Proxmox
                type: string
              replicas:
                description: Replicas is the number of VMs
                type: integer
              template:
                description: Template is the name of the source VM template
                properties:
                  cores:
                    description: Cores is the number of CPU cores
                    type: integer
                  disk:
                    description: Disks is the list of disks
                    items:
                      properties:
                        device:
                          description: Device is the name of the device
                          type: string
                        size:
                          description: Size is the size of the disk in GB
                          type: integer
                        storage:
                          description: Storage is the name of the storage
                          type: string
                      required:
                      - device
                      - size
                      - storage
                      type: object
                    type: array
                  memory:
                    description: Memory is the amount of memory in MB
                    type: integer
                  name:
                    description: Name of the template
                    type: string
                  network:
                    description: Networks is the list of networks
                    items:
                      properties:
                        bridge:
                          description: Bridge is the name of the bridge
                          type: string
                        model:
                          description: Model is the model of the network card
                          type: string
                      required:
                      - bridge
                      - model
                      type: object
                    type: array
                  pciDevices:
                    description: PCI is the list of PCI devices
                    items:
                      properties:
                        deviceID:
                          description: DeviceID is the ID hex id of the device
                          type: string
                        pcie:
                          default: false
                          description: PCIE is the flag that indicates whether the
                            device is a PCIE device ==> pcie=1
                          type: boolean
                        primaryGPU:
                          default: false
                          description: PrimaryGPU is the flag that indicates whether
                            the device is the primary GPU ==> x-vga=1
                          type: boolean
                        type:
                          description: Type is the type of the PCI device either raw
                            or mapped
                          enum:
                          - raw
                          - mapped
                          type: string
                      required:
                      - type
                      type: object
                    type: array
                  socket:
                    description: Socket is the number of CPU sockets
                    type: integer
                type: object
            required:
            - nodeName
            - replicas
            type: object
          status:
            description: VirtualMachineSetStatus defines the observed state of VirtualMachineSet
            properties:
              conditions:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}