name: Release

on:
  push:
    tags:
      - '*'
    paths-ignore:
      - '.github/**'
      - 'charts/**'

jobs:
  release:
    permissions:
      packages: write
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21

      - name: Check out code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set environment variables
        run: |
          echo "BUILD_IMAGE=golang:1.21" >> $GITHUB_ENV
          echo "KO_DOCKER_REPO=alperencelik/kubemox" >> $GITHUB_ENV
        
      - name: Run mage.go Release
        run: go run mage.go Release
        env: 
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}